CHIMERA_GPT_KEY = CHANGE_ME
DISCORD_TOKEN = CHANGE_ME
GPT_MODEL = gpt-3.5-turbo-0613
INSTRUCTIONS = celestia

TRIGGER = Дэйбрейкер,дэйбрейкер,Селестия,селестия,Селли,селли,Селя,селя,Солнечная,солнечная,Тия,тия
PRESENCES = Твайлайт Спаркл, бананы, восход солнца, закат луны, изучение искусства и истории конного спорта, наблюдение за закатами, понимание всего, чего я ещё не знаю, проведение времени с друзьями и близкими, проведение времени со своими подопечными, прогулку по Эквестрии, тортики, чтение
