CHIMERA_GPT_KEY = CHANGE_ME
DISCORD_TOKEN = CHANGE_ME
GPT_MODEL = gpt-3.5-turbo-0613
INSTRUCTIONS = luna

TRIGGER = Вуна,вуна,Лулу,лулу,Луна,луна,Лунная,лунная,Луняша,луняша,Найтмер,найтмер
PRESENCES = восход луны, закат солнца, мир снов, наблюдение за звездами, общение с пони Эквестрии, охрану снов жителей Эквестрии, патруль снов подданых, помощь Твайлайт в ее магических исследованиях, проведение времени с сестрой и близкими друзьями, прогулку по дворцовым садам, просмотр на ночное звездное небо, размышление о судьбе всех жителей Эквестрии, Твайлайт Спаркл, сочинение стихов, мирную прогулку за стенами столицы, тренировку магических способностей, управление Эквестрией вместе с сестрой, чтение
